version: 2
updates:
  - package-ecosystem: npm
    directory: /
    labels: [dependencies]
    assignees: [Katsute]
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
      timezone: US/Eastern
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - version-update:semver-patch